body {
  overflow-x:hidden;
  margin: 0px !important;
  padding: 0px !important;
}
.contact-numbers {
  line-height:15px;
  margin-top: auto;
  margin-bottom: auto;
  border-left:1px solid #fff;
  height:auto;
  margin-left: 15px;
  margin-top: 12px;
}
.contact-names {
  font-family:'Droid Arabic Naskh', serif;
  line-height:15px;
  margin-top: auto;
  margin-bottom: auto;
  text-align:right;
  margin-top: 12px;
}
.nav-content {
  padding-bottom: 0px !important;
}
.social-icon-btn {
  margin-right: 0px !important;
  width: 40px;
  height:40px;
}
.social-icon-img {
  width: 40px;
  height:40px;
  padding: 0px !important;
  margin: 0px !important;
}
.whiteheadline {
	border-top: 1px solid #fff;
	text-align: center;
  margin-top: 0px !important;
}
.whiteheadline:after {
	content: '●';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #009ca3;
	color: #fff;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.greenheadline {
	border-top: 1px solid #009ca3;
	text-align: center;
  margin-top: 0px !important;
}
.greenheadline:after {
	content: '●';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fff;
	color: #009ca3;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.greyheadline {
	border-top: 1px solid #fff;
	text-align: center;
  margin-top: 0px !important;
}
.greyheadline:after {
	content: '●';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #696a6c;
	color: #fff;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.input-custom-group {
  display: block;
  margin:0px !important;
  padding: 0px;
  line-height: inherit;
  padding-left: 2rem;
  border: none !important;
  /*width: calc(100% - 4rem);*/
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444
}
.input-custom-field {
  margin: 0px !important;
  border: 0px !important;
  padding: 0px !important;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none
}

.input-custom-field:focus {
  border: 0px !important;
}
.input-custom-btn {
  height: 3rem;
  display: block;
  margin:0px;
  padding: 0px;
  width: calc(100% - 4rem);
  background-color: #009ca3;
  border: 0;
  color: #fff
}
.card-panel {
  padding: 0px;
}
.map {
   width: 100%;
   height: 100% !important;
}
.sections {
  width: 10rem;
  height: 10rem;
  margin: auto;
  padding: auto;
  margin-bottom: 2rem;
  border-radius: 50% !important;
}
.sections-img {
  width: 100% !important;
  height: auto;
  margin: auto;
  width: 10rem;
  height: 10rem;
}
.ads {
  display:block;
  height:100% !important;
}
@media only screen and (min-width: 993px) {
  .showAds {
    display: block !important;
    height: 580px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 992px) {
  .showAds {
    display: block !important;
    height:400px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 699px){
  .showAds {
    display: block !important;
    height: 250px;
  }
}

@media only screen and (max-width: 349px){
  .showAds {
    display: block !important;
    height: 100px;
  }
}
