<div class="row" style="background-color:#ffffff">
  <br />
  <h4 style="text-align: center;">
    <span  style="color:#696a6c">ABOUT&nbsp;</span>
    <span  style="color:#009ca3">ALEX PHARMA</span>
  </h4>
  <div class="row"><hr class="col s2 offset-s5 greenheadline" /></div>
  <p class="row" style="text-align:center; color:#696a6c">
    As one of the most prosperous and aspiring pharmacy chains in A
  </p>
  <div class="row">
    <a class="waves-effect waves-light btn col s2 offset-s5" style="background-color:#696a6c !important">More</a>
  </div>
</div>
