<div class="row white">
  <br />
  <h4>
    <span  class="grey-text">ABOUT&nbsp;</span>
    <span  class="teal-text">ALEX PHARMA</span>
  </h4>
  <div class="row"><hr class="col s2 offset-s5 greenheadline" /></div>
  <p class="col s10 offset-s1 grey-text">
    As one of the most prosperous and aspiring pharmacy chains in Alexandria -founded and managed by Dr. Azza Mahfouz - Alex Pharmacies has been regarded as a true landmark when looking for professionalism and innovativeness with a remarkable human touch
  </p>
  <div class="row">
    <a class="waves-effect waves-light btn col s2 offset-s5 grey">More</a>
  </div>
</div>
