<div class="row teal">
  <h4>
    <span  class="grey-text"> CONTACT&nbsp; </span>
    <span  class="white-text"> US </span>
  </h4>
  <div class="row">  <hr class="col s2 offset-s5 whiteheadline" /></div>
  <div class="col s10 offset-s1 m10 offset-m1">
     <div class="col s12 m4" ng-repeat="contact in contacts">
       <div class="card-panel" style="height: 300px;">
         <div id="{{contact.index}}" class="map"></div>
       </div>
       <span class="white-text">
         <i class="material-icons">location_on</i> &nbsp; {{contact.address}} <br />
         <i class="material-icons">phone</i> &nbsp; Phone: {{contact.phone}}<br />
         <i class="material-icons">stay_current_portrait</i> &nbsp; Mobile: {{contact.mobile}}
       </span>
     </div>
  </div>

  <div class="col s12 m12">
    <br />
    <h4 class="white-text"> Ask Doctor</h4>
  </div>
  <form ng-submit="askDoctor()" name="form" role="form">
    <div class="col m10 offset-m1 s10 offset-s1">
      <div class="col s12 m4">
        <div class="input-custom-group teal lighten-1">
          <input class="input-custom-field"placeholder="Name" ng-model="form.name" ng-required="true"/>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="input-custom-group teal lighten-1">
          <input class="input-custom-field validate" type="email" placeholder="Email" ng-model="form.email" ng-required="true"/>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="input-custom-group teal lighten-1">
          <input class="input-custom-field validate" type="tel" pattern="^\d{4}-\d{3}-\d{4}$" placeholder="Mobile [Format: xxxx-xxx-xxxx]" ng-model="form.number" ng-required="true"/>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1">
      <br />
      <div class="col s12">
        <div class="input-custom-group teal lighten-1">
          <textarea cols="10" class="input-custom-field" placeholder="Comment" style="height:80px; padding-top:1rem !important" ng-model="form.comment" ng-required="true"></textarea>
        </div>
      </div>
    </div>
    <br />
    <div class="col m2 offset-m5 s6 offset-s3">
        <br />
        <input class="waves-effect waves-light btn col m8 offset-m2 s12 grey" type="submit" value="Send">
    </div>
  </form>
</div>

<script>
  function initMap() {
    var addresses = [
      {lat: 31.248284, lng: 29.970969},
      {lat: 31.251320, lng: 29.975083},
      {lat: 31.244239, lng: 29.965740}
    ];
    var maps = ['map0','map1','map2'];

    for (var i = 0; i < 3; i++) {
      var address = addresses[i];
      var map = new google.maps.Map(document.getElementById(maps[i]), {
        zoom: 17,
        center: address
      });
      var marker1 = new google.maps.Marker({
        position: address,
        map: map,
        title: 'Alex Pharmacies'
      });
    }
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9T2S55GNSuIObEhKZCcT4zBa5I1v1lss&callback=initMap"> -->
</script>
