<div class="row white">
  <h4>
    <span  class="grey-text"> HEALTH&nbsp; </span>
    <span  class="teal-text"> NEWS </span>
  </h4>
  <div class="row">  <hr class="col s2 offset-s5 greenheadline" /></div>

  <div class="col s10 offset-s1 m10 offset-m1">
    <div class="col s12 m6" ng-repeat="new in news">
       <div class="card">
           <div class="card-image">
             <img class="responsive-img" ng-src="{{new.img}}"/>
           </div>
       </div>
       <span class="grey-text">
         <b>{{new.title}}</b><br />
         {{new.content}}
       </span>
    </div>
    <br />
   </div>
   <div class="col m2 offset-m5 s6 offset-s3">
     <br />
     <a class="waves-effect waves-light btn col m8 offset-m2 s12 grey">More</a>
   </div>
</div>
