<nav class="nav-extended grey">
  <div class="row nav-wrapper grey">
    <div class="col s10 offset-s1">
      <a ui-sref="#" class="brand-logo">
        <img class="responsive-img" ng-src="public/assets/img/logo.png"/>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class="waves-effect social-icon btn white social-icon-btn">
            <img class="social-icon-img" ng-src="public/assets/img/facebook.png"/>
          </a>
        </li>
        <li>
          <a class="waves-effect social-icon btn white social-icon-btn">
            <img class="social-icon-img" ng-src="public/assets/img/twitter.png"/>
          </a>
        </li>
        <li>
          <a class="waves-effect social-icon btn white social-icon-btn">
            <img class="social-icon-img" ng-src="public/assets/img/linkedin.png"/>
          </a>
        </li>
        <li>
          <a class="waves-effect social-icon btn white social-icon-btn"><i class="material-icons grey-text social-icon-img">phone</i></a>
        </li>
        <li class="contact-numbers">
          <span>
            <b> &nbsp 358 84 41 </b><br />
            <b> &nbsp 359 33 00 </b><br />
            <b> &nbsp 585 58 51 </b>
          </span>
        </li>
        <li class="contact-names">
          <span>
             الاقبال<br />
             السراى<br />
             زيزينيا
          </span>
        </li>
      </ul>
    </div>
    <br />
  </div>
  <div class="row nav-content teal">
    <ul class="col s10 offset-s1 tabs tabs-transparent">
        <li class="tab"><a href="" class="active">Home</a></li>
        <li class="tab disabled"><a href="">About Us</a></li>
        <li class="tab disabled"><a href="">Branches</a></li>
        <li class="tab disabled"><a href="">Media Center</a></li>
        <li class="tab disabled"><a href="">Services</a></li>
        <li class="tab disabled"><a href="">Health News</a></li>
        <li class="tab disabled"><a href="">Careers</a></li>
        <li class="tab disabled"><a href="">Contact Us</a></li>
    </ul>
  </div>
</nav>

<script>
$( document ).ready(function(){
  $('ul.tabs').tabs();
  $(".button-collapse").sideNav();
  });
</script>
