<div class="row" style="background-color:#009ca3">
  <br />
  <h4 style="text-align: center;">
    <span  style="color:#696a6c">OFFERS&nbsp;</span>
    <span  style="color:#ffffff">OF THE WEEK</span>
  </h4>
  <div class="row">  <hr class="col s2 offset-s5 whiteheadline" /></div>
  <div class="col s10 offset-s1">
    <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="public/assets/img/Layer 14.png" />
          </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="public/assets/img/Layer 15.png" />
          </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="public/assets/img/Layer 16.png" />

          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn col s2 offset-s5" style="background-color:#696a6c !important">More</a>
  </div>
</div>
