<!-- <div class="row" style="background-color:#696a6c">
  <br />
  <h4 style="text-align: center;">
    <span  style="color:#009ca3">SUBSCRIBE TO&nbsp;</span>
    <span  style="color:#ffffff">NEWSLETTER</span>
  </h4>
  <div class="row"><hr class="col s2 offset-s5 greyheadline"/></div>
  <p class="row" style="text-align:center; color:#ffffff">
    Subscribe to newsletter to receive our latest offers
  </p>
  <div class="row">
    <a class="waves-effect waves-light btn col s2 offset-s5" style="background-color:#696a6c !important">More</a>
  </div>
  <div class="row"><hr class="col s10 offset-s1"/></div>
  <p class="row" style="text-align:center; color:#ffffff">
    All Rights Reserved 2016 - Alex Pharmacies <br />
    Powered&Designed by Xlab Software
  </p>
</div> -->

<footer class="page-footer" style="background-color:#696a6c">
  <div class="container">
    <div class="row">
      <br />
      <h4 style="text-align: center;">
        <span  style="color:#009ca3">SUBSCRIBE TO&nbsp;</span>
        <span  style="color:#ffffff">NEWSLETTER</span>
      </h4>
      <div class="row"><hr class="col s2 offset-s5 greyheadline"/></div>
      <p class="row" style="text-align:center; color:#ffffff">
        Subscribe to newsletter to receive our latest offers
      </p>
      <div class="col s8 offset-s2">
          <div class="input-field col s9">
            <input type="search">
          </div>
          <button class="btn col s3">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="text-align:center; color:#ffffff">
      All Rights Reserved © 2016 - Alex Pharmacies <br />
      Powered & Designed by Xlab Software
    </div>
  </div>
</footer>
