<footer class="page-footer grey">
    <h4 class="row">
      <span class="teal-text">SUBSCRIBE TO&nbsp;</span>
      <span class="white-text">NEWSLETTER</span>
    </h4>
    <div class="row"><hr class="col s2 offset-s5 greyheadline"/></div>
    <p class="row white-text">
        Subscribe to newsletter to receive our latest offers
    </p>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="input-custom-group col s9">
          <input class="input-custom-field"placeholder="Email" />
        </div>
        <button class="input-custom-btn col s3" type="button">Subscribe</button>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="container white-text">
        All Rights Reserved © 2016 - Alex Pharmacies <br />
        Powered & Designed by Xlab Software
      </p>
    </div>
</footer>
