<div class="row teal">
  <h4>
    <span  class="grey-text"> OUR&nbsp; </span>
    <span  class="white-text"> TEAM </span>
  </h4>
  <div class="row">  <hr class="col s2 offset-s5 whiteheadline" /></div>
  <div class="col s10 offset-s1 m10 offset-m1">
    <div class="col s12 m3" ng-repeat="member in team">
      <div class="card">
           <div class="card-image">
             <img ng-src="{{member.img}}">
           </div>
           <div class="card-content">
             <h6 class="teal-text">{{member.fullname}}</h6>
           </div>
      </div>
    </div>
  </div>
  <div class="col m2 offset-m5 s6 offset-s3">
    <a class="waves-effect waves-light btn col m8 offset-m2 s12 grey">More</a>
  </div>
</div>
